<!DOCTYPE html>
<html lang="ja" xmlns:ng="http://angularjs.org">
<head>
<meta charset="UTF-8">
<title>tm-particle</title>

<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<style>
* {
    font-size: 6pt;
}

td {
    vertical-align: middle;
}
</style>

</head>
<body ng-controller="MainCtrl">

<div style="float:left;margin-right:50px">
<ul>
    <li>
        <label>総生成時間(ms)</label> <input type="text" ng-model="limit">
    </li>
    <li>
        <div id="generate"></div>
    </li>
    <li>
        <div id="generateArea"></div>
    </li>
    <li>
        <label>ブレンドモード</label>
        <select></select>
    </li>
    <li>
        <label>生存時間(ms)</label>
        <input type="text">
    </li>
    <li>
        <div id="speed"></div>
    </li>
    <li>
        <div id="direction"></div>
    </li>
    <li>
        <div id="radius"></div>
    </li>
    <li>
        <label>色1</label><input type="checkbox"><label>変化</label>
        <ul>
            <li>
                <label>初期値</label>
                <input type="text">
                <input type="text">
                <input type="text">
            </li>
            <li>
                <label>最終値</label>
                <input type="text">
                <input type="text">
                <input type="text">
            </li>
            <li>
                <label>イージング</label>
                <select></select>
                <select></select>
                <select></select>
            </li>
            <li>
                <label>変化時間(ms)</label>
                <input type="text">
                <input type="text">
                <input type="text">
            </li>
        </ul>
    </li>

</ul>
</div>

<div>
    <canvas id="app" width="400" height="400" style="border:1px solid white"></canvas>
</div>

<script type="text/x-jquery-tmpl" id="value-input">
        <label>${title}</label>
        <table>
            <tr>
                <td></td>
                <td>初期値</td>
                <td>
                    <input type="checkbox" title="ランダム" ng-model="${valueName}[0].random">
                    <span ng-if="!${valueName}[0].random">
                        <input type="number" ng-model="${valueName}[0].value">
                    </span>
                    <span ng-if="${valueName}[0].random">
                        <input type="number" title="min" ng-model="${valueName}[0].min">
                        <input type="number" title="max" ng-model="${valueName}[0].max">
                    </span>
                </td>
            </tr>
            <tr>
                <td rowspan="3"><input type="checkbox" title="変化" ng-model="enableEasing.${valueName}"><label></td>
                <td><span ng-class="{'text-muted': !enableEasing.${valueName}}">最終値</span></td>
                <td>
                    <input type="checkbox" title="ランダム" ng-model="${valueName}[1].random" ng-disabled="!enableEasing.${valueName}">
                    <span ng-if="!${valueName}[1].random">
                        <input type="number" ng-model="${valueName}[1].value" ng-disabled="!enableEasing.${valueName}">
                    </span>
                    <span ng-if="${valueName}[1].random">
                        <input type="number" title="min" ng-model="${valueName}[1].min" ng-disabled="!enableEasing.${valueName}">
                        <input type="number" title="max" ng-model="${valueName}[1].max" ng-disabled="!enableEasing.${valueName}">
                    </span>
                </td>
            </tr>
            <tr>
                <td><span ng-class="{'text-muted': !enableEasing.${valueName}}">イージング</span></td>
                <td>
                    <select ng-model="genetate[2]" ng-options="easing for easing in easings" ng-disabled="!enableEasing.${valueName}"></select>
                </td>
            </tr>
            <tr>
                <td><span ng-class="{'text-muted': !enableEasing.${valueName}}">変化時間(ms)</span></td>
                <td><input type="number" title="" ng-model="${valueName}[3]" ng-disabled="!enableEasing.${valueName}"></td>
            </tr>
        </table>
</script>

<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.2.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="../tmlib.js/build/tmlib.js"></script>

<script>
$("#value-input").tmpl({
    "title": "生成個数",
    "valueName": "generate"
}).appendTo("#generate");

$("#value-input").tmpl({
    "title": "生成範囲",
    "valueName": "generateArea"
}).appendTo("#generateArea");

$("#value-input").tmpl({
    "title": "スピード",
    "valueName": "speed"
}).appendTo("#speed");

$("#value-input").tmpl({
    "title": "進行方向",
    "valueName": "direction"
}).appendTo("#direction");

$("#value-input").tmpl({
    "title": "半径",
    "valueName": "radius"
}).appendTo("#radius");

$("input[type='text']").each(function() {
    $(this).attr("placeholder", $(this).attr("title"));
});
$("input").each(function() {
    if (!$(this).attr("ng-model")) {
        $(this).attr("ng-model", "MainCtrl");
    }
    $(this).attr("ng-change", "regenerate()");
});
</script>

<script src="particleelement.js"></script>
<script src="data.js"></script>
<script src="main.js"></script>

</body>
</html>
